@media (max-width:1200px) {

    /* Custom CSS */
    h1 {
        font-size: 2.1875rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    p,
    a {
        font-size: 0.875rem;
        line-height: 1.2rem;
    }

    .main-btn {
        padding: 0.125rem 0.525rem;
    }

    .wrapper {
        padding-top: 4.25rem;
        padding-bottom: 3.25rem;
    }

    /* Navbar Section */
    .navigation-wrap .navbar-brand img {
        width: 6.25rem;
    }

    .navigation-wrap .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 0.875rem;
    }

    /* Service Section */
    .service-section .service-cards {
        margin-top: 1.4286rem;
    }

    .service-section .card {
        padding: 0.75rem 0 0;
        margin-bottom: 1.25rem;
    }


}

@media(max-width:992px) {

    /* Custom CSS */
    p,
    a {
        font-size: .75rem;
    }

    /* Navbar */
    .header-top {
        display: none;
    }

    .navbar .navbar-toggler {
        color: var(--text-white);
    }

    .navbar .main-btn {
        margin: .625rem 0;
    }

    .navigation-wrap {
        text-align: center;
        background-color: var(--black-color);
    }

    .navigation-wrap .nav-link {
        line-height: 1.875rem;
    }

    /* Top Banner */
    .top-banner {
        padding: 6.375rem 0 4.375rem;
    }

    /* About Us */
    .about-section {
        text-align: center;
    }

    .about-section span::after {
        left: 50%;
        transform: translateX(-50%);
    }

    /* Feature Section */
    .feature-section .card .price {
        font-size: .875rem;
    }

    /* Newsletter Section */
    .newsletter .form-group input {
        height: 2.5rem;
    }
}

@media(max-width:767px) {

    /* Custom CSS */
    h1 {
        font-size: 1.5625rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.125rem;
    }

    h4 {
        font-size: 1rem;
    }

    span {
        font-size: .875rem;
    }

    .main-btn {
        font-size: .75rem;
        line-height: .75rem;
        padding: .5rem .625rem;
    }

    .wrapper {
        padding-top: 3.25rem;
        padding-bottom: 2.25rem;
    }

    /* Service Section */
    .service-section .card {
        margin-bottom: 1.25rem;
    }

    .feature-section .card .price {
        font-size: .875rem;
    }

    /* Download app section */
    .download-app-btn img {
        max-width: 9rem;
        width: 100%;
    }

    /* Footer Section */
    .footer .footer-link,
    .footer a {
        padding: 0 0.5rem;
    }
}